.popup-event-details {
  height: 300px;
  width: 300px;
  border-radius: 1em;
}

.popup-event-details header {
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin: 24px;
}

.popup-event-details div {
  margin: 50px 0px;
}

.popup-event-details div div {
  margin: 20px;
  overflow-wrap: break-word;
}

.popup-event-details footer {
  display: flex;
  justify-content: center;
  margin: 60px;
  gap: 10px;
}
