.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 7px;
  grid-auto-flow: row;
}

.dayNames {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 32px;
}

.dayNamesRow {
  margin: 40px 0 20px 0;
}

.parent > div {
  border: 1px solid;
}

.popup form {
  height: 500px;
  width: 500px;
  border: 0.1px solid;
  border-radius: 1em;
}

.popup form header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 32px;
  font-weight: bold;
}

.popup form .formItem label {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
}

.popup form .formItem input,
textarea {
  margin: 0px 20px;
  padding: 8px;
}

.popup form .formItem textarea {
  height: 80px;
  width: 80%;
}

.popup form footer {
  display: flex;
  justify-content: center;
  margin: 60px;
  gap: 10px;
}

.calendar-header {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 32px;
}

.time-range-picker {
  display: flex;
  margin: 20px 0;
}

.time-range-picker div {
  margin: 0 20px 0 0;
}
