.day {
  width: 260px;
  height: 133px;
  overflow: hidden;
}

.events {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100px;
}

.day header {
  display: flex;
}

.day header .number-of-day {
  display: inline;
  padding: 4px 0 0 4px;
}
.day header .add-event {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 15px;
  height: 15px;
  font-size: 24px;
  padding: 4px 4px 0 0;
}

.day .event {
  margin: auto;
  color: white;
  border-radius: 4px;
  margin: 2px;
  padding: 3px;
  width: 95%;
  font-weight: bold;
}

.day .event.blue {
  background: blue;
}

.day .event.red {
  background: darkred;
}

.day .event.green {
  background: green;
}

.day .event.violet {
  background: darkviolet;
}
