.day {
  width: 270px;
  height: 150px;
}

.day header {
  display: flex;
}

.day header .number-of-day {
  display: inline;
  padding: 4px 0 0 4px;
}
.day header .add-event {
  display: inline-flex;
  border: 0.5px solid;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 15px;
  height: 15px;
}

.day .event {
  margin: auto;
  background: blue;
  color: white;
  border-radius: 4px;
  margin: 2px;
  width: 95%;
}
